<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Document API MADAC-Coffee </title>
    <link rel="stylesheet" href="/syle.css">
</head>
<body>

    <!-- Incluir el document para usuarios -->
    <%- include('../views/documentUsuarios.ejs'); %>

    <!-- Incluir el document para fincas -->
    <%- include('../views/documentFincas.ejs'); %>

    <!-- Incluir el document para variedades -->
    <%- include('../views/documentVariedades.ejs'); %>

    <!-- Incluir el document para lotes -->
    <%- include('../views/documentLotes.ejs'); %>

    <!-- Incluir el document para analisis -->
    <%- include('../views/documentAnalisis.ejs'); %>

    <!-- Incluir el document para resultados -->
    <%- include('../views/documentResultados.ejs'); %>
    
</body>
</html>