<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document API MADAC-Coffee</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <!-- Include el modulo usuarios -->
    <%- include('../views/documentUsuarios.ejs'); %>

    <!-- Include el modulo fincas -->
    <%- include('../views/documentFincas.ejs'); %>

    <!-- Include el modulo variedades -->
    <%- include('../views/documentVariedades.ejs'); %>

    <!-- Include el modulo lotes -->
    <%- include('../views/documentLotes.ejs'); %>

    <!-- Include el modulo muestras -->
    <%- include('../views/documentMuestra.ejs'); %>

    <!-- Include el modulo analisis -->
    <%- include('../views/documentAnalisis.ejs'); %>

    <!-- Include el modulo variables -->
    <%- include('../views/documentVariable.ejs'); %>

    <!-- Include el modulo resultados -->
    <%- include('../views/documentResultados.ejs'); %>
    
</body>
</html>